*{
    scroll-behavior: smooth;
    font-family: 'Montserrat',sans-serif;
}   
.information {
    display: block;
    margin: auto;
    width: 400px;
    height: 190px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    line-height: 16px;
    border-radius: 4px;
  
  }
  .namediv {
    display: flex;
    justify-content: space-between;

  }
 
  .status {
    background-color: rgb(193, 148, 93);
    width: fit-content;
    border-radius: 10px;
    padding: 3px;
  }
  #cricket_news {
    width: 80%;
    margin: auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  }

  #cricket_news_heading {
    display: flex;
    justify-content: space-between; 
   padding-top: 20px;
   padding-right: 10px;
    margin: 30px;

  }
  #cricket_news_heading>a{

   text-decoration: none;
   color: black;
   width: 8px;
   height: 8px;

  }
#cricket_news_data{
    padding: 15px;
    padding-bottom:20px;
    padding-right: 20px;
}
  .image_for_news {
    display: inline-block;
    width: 200px;
    height: 200px;

  }

  .news_div {
   display: inline-flex;
   width: 100%;
   height: auto;
   height: fit-content;
   
  }
  #video_space {
    display: flex;
    overflow: scroll;
    column-gap: 5px;
    width: 80%;
    scroll-behavior: smooth;
    scroll-margin-block-end: 10px;
    
 
    margin: auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  #video_space::-webkit-scrollbar{
    display: none;
  }
  #matchinfo{
    margin-top:150px;
    margin-bottom: 100px;
    display: flex;
    

  }
  #tdes{
    margin-left: 115px;
  
  }
  #button_div{
display: flex;
 
    position: absolute;
    left: 40%;
    top: 40%;


    
  }
  #button_div>:nth-child(1){

    margin-left:-290px;
    margin-right: 190px;

      border: none;
      font-size: 30px;
      background: none;
  }
  #button_div>:nth-child(2){

   margin-right: 100px;
   margin-left: 570px;
      border: none;
      font-size:30px;
      background: none;
    
  }
  #video_main_space>h4{
    width:auto;
    display: flex;
    margin: auto;
    font-size: medium;
    justify-content: center;
    margin-bottom: 10px;
  }
