


#navbar {

   
    display: flex;
    height: 85px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: rgb(29, 29, 46);
    z-index: 2;
    /* font-family: 'Montserrat',sans-serif;  */

    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}


#img1 {

    display: flex;
    align-items: center;
    margin-left: 110px;
}

#img2 {
    margin: auto;
    display: flex;
    column-gap: 16px;
}

.A1 {
    text-align: center;
    width: 43px;
    text-align: center;
    margin: auto;
    height: 100%;


}

.A1>img {
    width: 20px;
    height: 23px;
}

.A1>a {
    color: white;
    text-decoration: none;
    font-size: 10px;
}

#img2>div:nth-child(3) {
    width: 60px;
}

#img2>div:nth-child(2) {
    width: 60px;
}

#img2>div:nth-child(1) {
    width: auto;
    margin: auto;

}

#p1 {

    display: block;
    width: 75px;
    margin-top: 5px;


}

.A1:hover {

    background-color: rgb(138, 136, 131);

}

#spand {

    font-size: 8px;
    vertical-align: middle;
}

#drop {
    display: none;
    position: absolute;
    right: 207.5px;
    width: 200px;
    top: 84px;
    border: 1px solid black;
    background-color: rgb(29, 29, 46);
}

#drop_down:hover>#drop {
    display: inline-table;
}

#drop_down:hover {
    height: 83px;
}

.dropdown_for_more {
    display: block;
    text-align: start;
    padding-left: 30px;
    width: auto;
    height: 40px;
    color: rgba(214, 218, 218, 0.993);
    font-size: 15px;
}

.dropdown_for_more>img {

    width: 20px;
    margin: auto;
    height: 20px;
    align-items: center;
    vertical-align: middle;
}

.dropdown_for_more:hover {
    background-color: rgb(67, 64, 64);
}

.A1>a {

    color: rgba(214, 218, 218, 0.993);
}

#footer {
    position: absolute;
    left: 0%;
    right: 0%;
    height: 100px;
    width: 100%;
    background-color: rgb(29, 29, 46);
    margin: auto;
    display: flex;
    align-items: center;
}

#footer>div {
    display: block;
    align-items: center;

    margin-top: 20px;
    margin-left: 20px;
}

#footer>div>h5 {
    vertical-align: middle;
    margin-top: 0px;
    color: rgb(142, 136, 136);
    margin-left: 20px;

}

#footer_m {
    display: flex;
    width: 30%;
    padding-left: 25%;
    
}
#footer_m>a{
    color: rgb(131, 128, 128);
    margin-left: 7px;
    font-size: 14px;
    text-decoration: none;

}
#footer_m>a:hover{

color: rgb(227, 86, 64);

}
#footer_e span {

    color: rgb(160, 157, 157);
    font-size: 13px;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
}
#footer_e>div {

    margin-left: 108px;

}
#buttom{
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 70px;
    width: 100%;
    color: rgb(255, 255, 255);
    background-color: rgb(29, 29, 46);
margin: auto;
align-items: center;
justify-content: space-between;
display: none;
}
#buttom img{
    display: block;
    margin: auto;
}
#buttom>div{

display:block;
margin: auto;

}
#logo{
    display: none;
}