*{
    margin-top: 0px;
    padding-top: 0px;
    
}
body{
    background-color: whitesmoke
}
#top{
    margin-left: 150px;;
    margin-top: 0px;
    position:fixed;
    width: 75.5%;
    background-color: whitesmoke;
   
}
#top>h2{
    color: rgb(55, 51, 51);
    margin-left: 15px;

    
   
}
#top>button{
    padding:5px;
    width:150px;
    font-size: 15px;
    cursor: pointer;
    margin-left: 15px;
    margin-bottom: 10px;;
   
}
#append{
    width: 75.5%;
    margin: auto;
    margin-top: 10px;;
   padding-top: 100px;
background-color: white;
box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

}
#append>div>img{
    width: 50%;
    padding: 10px;
}
#div1{
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    
}
#time{
   display: flex;
   justify-content: end;
   padding-right: 15px;;
}

.red{
    color: white;
    background-color: rgba(180, 35, 35, 0.84);;
  border-radius: 5px;;
  border:1.5px  solid rgba(180, 35, 35, 0.84);
}