*{
    scroll-behavior: smooth;
    font-family: 'Montserrat',sans-serif; 
}
body{
    background-color:rgb(232, 231, 231) ;
}

#video{
    width: 75%;
    margin: auto;
    background-color: white;
    
}
#flex{
    display: flex;
 padding-top: 15px;
}
#video>div>img{
    width:20%

}
#video>div{
   margin-top: 4px;
   
}
#video>div>div{
    padding-left: 10px;
    margin-top: 0px;
}
#play{
    width: 75%;
    margin: auto;
    background-color: white;
    margin-top: 100px;
}
#navbars{
    width: 75%;
    margin: auto;
    margin-top: 10px;;
    background-color: white;
    display: flex;
    justify-content:space-evenly;
    
}
#navbars>p{
    color: grey;
    cursor: pointer;
    padding-top: 10px;
}
#navbars>:hover{
    color:red;
}
#play>div>p{
    padding-left: 10px;;
}
#play>div>h5{
    padding-left: 10px;;
    padding-bottom: 20px;
}