#content-main{
    display:grid;
    grid-template-columns: repeat(1,1fr);
    width:100%;
    height:560px;
    padding:32px 0;
    overflow:scroll;
}
#content-main::-webkit-scrollbar { 
    display: none; 
}
#content-body{
    display: grid;
    width:94%;
    height: 600px;
    margin: auto;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(4, 144px);
    gap:5px;
    grid-template-areas: 
    "b1 b1 m1  m1 s1 s2"
    "b1 b1 s3 s4 s5 s6"
    "m11 m11 s11 s22 b11 b11"
    "s33 s44 s55 s66 b11 b11";
    
}

#big1, #big2{
    grid-area: b1;
    position: relative;
    overflow: hidden;
    background-color: #eee;
}

#big1>#for-img img, #big2>#for-img img{
    display: block;
    margin: auto;
    height:20rem;
}
@keyframes pulsate {
    0%{
        transform:  scale(1) translate(0);
    }
    100% {
        transform: scale(1.2) translateY(20px);
    }
}
#big1>#for-img>div, #big2>#for-img>div{
    background-position: center top;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    animation-delay: 6000ms;
    animation-direction: alternate;
    animation-duration: 9000ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-name: pulsate;
    height: 10.5rem;
    background-size: contain;
}
#for-flag>div{
    position: absolute;
    right: 0;
    top: 0;
    width:1.7rem;
    height:1.3rem;
    margin-top: 0.25rem;
    margin-right: 0.6rem;
    box-shadow: 2px 2px 4px 2px rgba(0,0,0,.2);
}
#for-flag img {
    display: block;
    height:100%;
}

#for-name>div{
    width:100%;
    position: absolute;
    bottom: 0;
    height: 1rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    font-size: .8rem;
    color: #fff;
    font-weight: 400;
}

#medium1, #medium2 {
    grid-area: m1;
    position: relative;
    overflow: hidden;
    background-color: #eee;
}

#medium1 img, #medium2 img {
    position: absolute;
    display: block;
    width:100%;
    height:100%;
}
#small1, #small2, #small3,#small4,
#small5,#small6, #small11, #small22, #small33,#small44,
#small55,#small66{
    grid-area: s1;
    position: relative;
    overflow: hidden;
    background-color: #eee;
}
#small1>#for-img>div, #small2>#for-img>div,#small3>#for-img>div,
#small4>#for-img>div, #small5>#for-img>div, #small6>#for-img>div,
#small11>#for-img>div, #small22>#for-img>div,#small33>#for-img>div,
#small44>#for-img>div, #small55>#for-img>div, #small66>#for-img>div {
    position: absolute;
    left:20%;
    height:100%;
    margin: auto;
}
#small1 img, #small2 img, #small3 img, #small4 img,
#small5 img, #small6 img,
#small11 img, #small22 img, #small33 img, #small44 img,
#small55 img, #small66 img {
    margin: auto;
    display: block;
    width:100%;
    height:100%;
}
#small2{
    grid-area: s2;
}
#small3{
    grid-area: s3;    
}
#small4{
    grid-area: s4;
}
#small5{
    grid-area: s5;
}
#small6{
    grid-area: s6;
}

#big2{
    grid-area: b11;
}
#medium2{
    grid-area: m11;
}
#small11{
    grid-area: s11;
}
#small22{
    grid-area: s22;
}
#small33{
    grid-area: s33;
}
#small44{
    grid-area: s44;
}
#small55{
    grid-area: s55;
}
#small66{
    grid-area: s66;
}

@media all and (min-width:481px) and (max-width:768px) {
    #navbar {
        display: none;
    }
    #footer {
        display: none;
    }
    #body {
        margin-top: 0px;
    }
    #search {
        background-color: #172132;
    }

    #input-box{
        width:100%;
    }
    
    input{
        width:80%;
    }
    #main-body {
        width:100%;
    }
    #for-flag>div {
        width: 20px;
        height:15px;
    }
    #content-body{
        height: 420px;
        display: grid;
        grid-template-columns: repeat(6,1fr);
        grid-template-rows: repeat(4, 100px);
    }
    
}

@media all and (min-width:320px) and (max-width:480px) {
    #navbar {
        display: none;
    }
    #footer {
        display: none;
    }
    #body {
        margin-top: 0px;
    }
    #search {
        background-color: #172132;
    }

    #input-box{
        width:100%;
    }
    
    input{
        width:80%;
    }
    #main-body {
        width:100%;
    }
    #content-body{
        display: grid;
        height: 515px;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(6, 80px);
        gap:5px;
        grid-template-areas: 
        "b1 b1 m1  m1 "
        "b1 b1 s3 s4"
        "s1 s2 s5 s6"
        "m11 m11 b11 b11"
        "s55 s66 b11 b11"
        "s33 s44 s11 s22";
    }
}

@media all and (min-width:769px) and (max-width:1080px) {
    #img1 {
        display: none;
    }
    #main-body {
        width:90%;
    }
}