* {
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif; 
}
#body{
    margin-top: 86px;
    width:100%;
    background-color: #eee;
}
#main-body {
    width:72%;
    margin: auto;
    background-color: white;
}
#search {
    width:100%;
    height:100px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#input-box{
    width:100%;
}

input{
    display: block;
    background-image: url("https://www.cricket.com/svgs/search.svg");
    background-repeat: no-repeat;
    text-indent: 25px;
    background-position: 5px center;
    width:96%;
    margin: auto;
    padding: 0.5rem;
    font-size: 18px;
    border-color: rgb(189, 189, 189);
    border-radius: 0.25rem;
    outline: none;
}
#button-div {
    height:46px;
    width:100%;
}
#button-wrapper {
    width:97%;
    height: 38px;
    margin: auto;
    margin-top: 5px;
    display: flex;
    justify-content: space-evenly;
    
}
#button-wrapper>button{
    width:182px;
    height: 100%;
    border-radius: 9999px;
    font-weight: 500;
    font-size: 0.8rem;
    border:none;
}
#button-wrapper a {
    text-decoration: none;
    color: white;
}
button:nth-of-type(1){
    background-color: #a70e13;
    color: white;
}
