#box{
    display: flex;
    /* flex-flow: row wrap; */
}
#box-img{
    width:50%;
    border: 1px solid black;
}
#box-detail{
    width:50%;
    border: 1px solid black;
}
#box img {
    width: 100%;
}