* {
    scroll-behavior: smooth;
    font-family: 'Montserrat',sans-serif; 
}
#navbar1 {
    display: flex;
    height: 85px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: #172132;
    z-index:2;
}
#h2 {
    display: none;
}

#body {
    margin-top: 86px;
    width:100%;
    background-color: #eee;
}
#main-body {
    width:72%;
    margin: auto;
    background-color: white;
}
#main-body2 {
    width:72%;
    margin: auto;
    background-color: white;
}
#main-body1{
    width:72%;
    height: 870px;
    margin: auto;
    background-color: white;
}
#search {
    width:100%;
    height:100px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
#input-box {
    width:100%;
}

input {
    display: block;
    background-image: url("https://www.cricket.com/svgs/search.svg");
    background-repeat: no-repeat;
    text-indent: 25px;
    background-position: 5px center;
    width:96%;
    margin: auto;
    padding: 0.5rem;
    font-size: 18px;
    border-color: rgb(189, 189, 189);
    border-radius: 0.25rem;
    outline: none;
}

#intl-other {
    display: flex;
    width:96%;
    border-bottom: 1px solid #999;;
    height:50px;
    margin: auto;
    align-items: center;
}
#intl-other>div:first-child {
    width:50%;
    height:100%;
    border-bottom: 3px solid #d64b4b;
}
#intl-other>div:last-child {
    width:50%;
    height:100%;
}
#intl {
    width: 100%;
    height:34px;
    text-align: center;
    font-weight: 600;   
}
#other {
    width:100%;
    height:34px;
    text-align: center;
    color: #777;
    font-weight: 500;
}
#mens-tag {
    width:98%;
    height:18.4px;
    padding: 0 0 0 18px;
}
#team-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:15px;
    margin:0.8rem;
}


#square {
    box-shadow: 2px 2px 4px 2px rgb(0 0 0 / 20%);
    cursor: pointer;
}
#name-div {
    width:100%;
    height:2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 14px;
    font-weight: 600;
}
#img-div{
    width:100%;
    height: 96px;
}
#img-div img {
    width:100%;
    height:100%;
}
#ranking-tag-div {
    width:100%;
    height:21px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    opacity: .5;
    border-bottom: 1px solid rgb(226, 224, 224);
}
#ranking-actual {
    display: flex;
    justify-content: space-around;
    width:100%;
    height: 37px;
}
#ranking-actual>div {
    width:28.5px;
    height:85%;
    padding:2px;
}
#no1,#no2,#no3 {
    color: #d64b4b;
    font-size: 14px;
    font-family: "Oswald";
    text-align: center;
}
#no-test,#no-odi, #no-T20 {
    font-size: 10px;
    opacity: .5;
    text-align: center;
}
/* next page styles */

#show-image {
    width:100%;
    height: 350px;
}
#show-image>img{
    width:100%;
    height:100%;
}
#all-tags {
    display: flex;
    width: 100%;
    height: 44.39px;
    font-size: 19px;
    border-bottom: 1px solid rgb(189, 189, 189);;
}
#all-tags>div {
    width:20%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #777;
    font-weight: 500;
}

#all-tags>#news-tag {
    color: black;
    border-bottom: 3px solid #d64b4b;
}
#news-div {
    display: flex;
    justify-content: space-between;
    width: 97%;
    height: 200px;
    padding:10px;
}
#news-img {
    width: 49%;
    height: 100%;
}
#news-img>img {
    width:100%;
    height:100%;
}
#news-data {
    width: 49%;
    height: 100%;
    overflow: hidden;
}
#news-data>h2 {
    margin-top: 0;
    font-size: 19px;
    line-height: 1.25;
}
#news-data>p:nth-of-type(1) {
    margin-top: 0;
    line-height: 1.5;
    font-size: 14px;
}
#news-data>p:nth-of-type(2) {
    margin-top: 0;
    font-size: 12px;
    font-weight: 600;
}








/* MEDIA QUERIES */
@media all and (min-width:481px) and (max-width:768px) {
    #team-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    #body {
        margin-top: 0px;
    }
    #main-body1 {
        width: 90%;
        height:1050px;
    }
    #navbar {
        display: none;
    }
    #navbar1 {
        display: none;
    }
    #h2 {
        z-index:7;
        margin: 0;
        display:block;
        padding: 20px;
        background-color: #172132;
        color: white;
    }
    #img1,#img2 {
        display: none;
    }
    #footer {
        display: none;
    }
    #search {
        background-color: #172132;
    }

    #input-box{
        width:100%;
    }
    
    input{
        width:80%;
    }
    #main-body2 {
        width:100%;
    }
    #news-div {
        height: 150px;
    }
    #news-data>h2 {
        margin-top: 0;
        font-size: 14px;
    }
    #news-data>p:nth-of-type(1) {
        margin-top: 0;
        font-size: 12px;
    }
    #all-tags {
        font-size: 16px;
    }
}

@media all and (min-width:320px) and (max-width:480px) {
    #team-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    #body {
        margin-top: 0px;
    }
    #main-body1 {
        margin: auto;
        width: 100%;
    }
    #main-body2 {
        width:100%;
    }
    #navbar {
        display: none;
    }
    #navbar1 {
        display: none;
    }
    #footer {
        display: none;
    }
    #search {
        background-color: #172132;
    }

    #input-box{
        width:100%;
    }
    
    input{
        width:80%;
    }
    #show-image {
        height:220px;
    }
    #news-img>img {
        height:70%
    }
    #news-data>h2 {
        font-size: 12px;
    }
    #news-data>p:nth-of-type(1){
        font-size: 10px;
    }
    #all-tags {
        font-size: 14px;
    }
    #h2 {
        display: flex;
    }
}

/* MEDIA QUERIES */


@media all and (min-width:769px) and (max-width:1000px) {
    #main-body2 {
        width:90%;
    }
    #img1 {
        display: none;
    }
    #news-img>img {
        height:90%
    }
}